<div class="container employee">
    <div class="row">
  
      <div class="col-md-12 register-right">
  
        <div class="row register-form">
          <div class="col-md-12">
            <form class="form-horizontal" name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()">
              <div class="form-group">
                <input type="text" class="form-control" #firstNamevalid="ngModel" required name="firstName" [(ngModel)]="userData.firstName"
                  placeholder="First Name *" value="" />
  
                  <div *ngIf="firstNamevalid.errors && (firstNamevalid.dirty || firstNamevalid.touched)">
                    <p  class="text-danger" *ngIf="firstNamevalid.errors.required">First Name is required</p>
                  </div>
              </div>
  
              <div class="form-group">
                <input type="text" class="form-control"  name="Salary" required [(ngModel)]="userData.Salary" placeholder="Salary"
                  value=""/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  name="position" required [(ngModel)]="userData.position" placeholder="Position"
                  value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  name="age" required [(ngModel)]="userData.age" placeholder="Age"
                  value="" />
              </div>

              <input type="submit" class="btn btn-success" [disabled]="!f.valid" value="Save" />
            </form>
          </div> 
  
        </div>
  
  
  
      </div>
  
    </div>
  
  </div>